@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100;300;500;900&family=Viaoda+Libre&display=swap');

:root {
  --font-titulos: 'Viaoda Libre', cursive;
  --color-background-header: #162028;
  --color-texto-menu: #5c7c92;
  --color-background-com-imagem: #003d52;
  --color-background-footer: #0b171f;
  --color-texto-footer: #6f8597;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  color: #555;
  /* font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; */
  font: 300 1.6em 'Roboto', sans-serif;
}

.wrappContainer-dark {
  background-color: rgba(10, 40, 60, .9);
}

.wrappContainer-dark2 {
  background-color: var(--color-background-header);
}

.wrappContainer-light {
  background-color: #fcfcfc;
}

.wrappContainer-position {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.header_title {
  font-size: 3.7em;
  color: var(--color-white);
  font-weight: 300;
}

.header_title a {
  text-decoration: none;
  color: var(--color-white);
}

.header_nav-list {
  display: flex;
  list-style-type: none;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: bold;
  gap: 10rem;
}

.header_nav-list li a {
  color: var(--color-texto-menu);
  text-decoration: none;
}

.hero_image {
  width: 100%;
  height: calc(100vh - 10rem);
}

.section_modas {
  color: black;
  font-weight: 300;
  text-align: center;
  padding-top: 15rem;
}

.modas_content {
  margin: 0 6rem;
  flex: 1;
}

.modas_content h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 4rem;
}

.modas_content p {
  text-align: center;
  line-height: 3rem;
}

.modasContainer {
  display: flex;
  margin-top: 5rem;
  gap: 3rem;
  justify-content: center;
}

.modas_card {
  flex: 1;
}

.modas_card img {
  display: block;
  width: 100%;
}

.modas_card_content {
  border: 1px solid #ccc;
  border-top: transparent;
  padding: 2rem;
}

.modas_card_content p {
  margin-top: 1rem;
}

.section-main__sobre h3 {
  text-align: center;
  font-weight: bold;
  color: var(--color-menu);
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.section-main__sobre p {
  text-align: center;
}

.wrappContainer-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bg_detalhe.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90rem;
  justify-content: center;
  margin-top: 8rem;
}

.section-main_moda-text h2 {
  font-size: 7rem;
  color: var(--color-white);
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Italiana', serif;
}

.section-main_moda-text p {
  font-size: 3rem;
  color: var(--color-white);
  font-weight: 300;
  padding-right: 6rem;
  margin-top: 4rem;
}

.rodape {
  padding: 4rem;
}

.rodape h3 {
  color: var(--color-texto-footer);
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: .2em;
}